*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #B9B28A ;
    color: white;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    margin: auto;
    border: 1px solid #ccc;
    width: 40%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th {
    background-color: #504B38;
    color: white;
    padding: 20px;
}

table tr td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
    border-collapse: collapse;
    margin: 20px;
}

table a{
    text-decoration: none;
    color: #B9B28A;
}