*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #B9B28A ;
    color: white;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 40%;
    border-collapse: collapse;
    margin-top: 20px;
}

table tr td {
    text-align: center;
    padding: 20px;
    border-collapse: collapse;
    margin: 20px;
}