body {
  background: url("https://images.unsplash.com/photo-1476950648868-16c7dca9499c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-position: center;
}

main {
  justify-content: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.login{ background-color: rgba(255, 255, 255, 0.84);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 1s ease-in-out;
}
/*logo style */
.logo {
  width: 200px;
  margin-top: 50px;
  border-radius: 10px;
 /*  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1); */
  transition: box-shadow 1s ease-in-out;
}
.logo:hover {
  box-shadow: 0px 0px 4px 4px rgba(253, 78, 212, 0.3);
}

/*form style */
.login-form {
  width: 90%;
}

.login-form input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  
  border: none;
  border-bottom: 1px solid #ccc;
}
.login-form i {color: #444444;
    font-size: 20px;
    margin-right: 10px;
}
.submit-button {
  width: 80%;
  padding: 10px;
  margin: 30px auto;
  border: none;
  background-color: #f4f4f4f4;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}
.submit-button:hover {
  background-color: rgba(95, 25, 234, 0.957);
  color: #f4f4f4f4;
}

/*link style */

.link1 {
  margin-top: 20px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}
.link1:hover {
  color: rgba(95, 25, 234, 0.957);
}